@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}


html {
    scroll-behavior: smooth;
}

section {
    min-height: 100vh;
}

#sideNav{
    width: 150px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px;
    background: #009688;
    z-index: 2;
    transition: left 0.5s;
}

nav ul {
    padding-top: 70px;
}

nav ul li{
    list-style: none;
    padding: 20px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
}

nav ul li:hover {
    background-color: #fff;
    padding: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

nav ul li:hover a {
    color: #009688;
}

#menuBtn{
    width: 50px;
    height: 50px;
    background: #009688;
    text-align: center;
    position: fixed;
    left: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}

#menuBtn img{
    width: 20px;
    margin-top: 15px;
}

#home {
    background: url(./imgs/background/store.jpg);
    background-size: cover;
    background-position: center;
    display:grid;
}

#home .sign {
    position: absolute;
    right: 30px;
    top: 30px;
}

#home .sign a {
    width: 150px;
    font-size: 18px;
    font-weight: 500;
    text-transform: capitalize;
    text-align: center;
    display: inline-block;
    position: relative;
    text-decoration: none;
    background-color: #fff;
    color: #009688;
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 1;
    transition: color 0.5s;
}

#home .sign a span {
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #009688;
    border-radius: 20px;
    z-index: -1;
    transition: 0.5s;
}

#home .sign a:hover span {
    width: 100%;
    border-radius: 20px;
}

#home .sign a:hover {
    color: #fff;
}

#home .logo {
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

#home .logo h1 {
    font-size: 80px;
    color: #fff;
}

#about {
  background-color: #f5f5f5;
}

#about .about-content{
    width: 80%;
    margin: auto;
}

.title-text{
    padding-top: 50px;
    text-align: center;
    padding-bottom: 40px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009688;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019578,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
}
.title-text h1{
    font-size: 40px;
    margin-top: 40px;
}

#about .about-context p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}

#about .countdown {
    text-align: center;
}

.countdown-container {
    display: flex; 
    justify-content: center;
    margin-top: 30px;
}
.big-text {
    font-weight: 500;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}
.countdown-el {
    text-align: center;
}
.countdown-el span {
    font-size: 1.5rem;
}

#teacher {

}

#teacher .teacher-content{
    width: 80%;
    margin: auto;
}

#teacher .teacher-info img {
    width: 100%;
}

.tabs {
  display: flex;
  position: relative;
  justify-content: center;
  text-transform: capitalize
}
.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #c23564;
  transition: all 0.2s ease;
}
.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 24px;
  text-align: center;
  color: #c23564;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tab-item:hover {
  opacity: 1;
  background-color: rgba(194, 53, 100, 0.05);
  border-color: rgba(194, 53, 100, 0.1);
}
.tab-item.active {
  opacity: 1;
}
.tab-content {
  padding: 28px 0;
}
.tab-pane {
  color: #333;
  display: none;
}
.tab-pane.active {
  display: block;
}
.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.teacher-info {
  background-color: #fff;
  border-radius: 20px;
}

.teacher-info img {
  border-radius: 20px;
  height: 100%;
}

.teacher-disc h3, .teacher-disc p {
  padding: 10px 20px;
  text-align: justify;
  text-justify: inter-word;
}

#courses {
  background-color: #f5f5f5;
}

#courses .courses-content{
  width: 80%;
  margin: auto;
}

#courses .card-course {
  background-color: #fff;
  padding: 50px;
  margin: 50px 20px 20px 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}
  
#courses .card-course .course-status {
  padding: 5px 10px 6px;
  font-weight: 600;
  width: 150px;
  background-color: #00AFAD;
  color: #fff;
  margin-top: 20px;
  text-align: center;
}

#courses .card-course > h2 {
  margin: 20px 0 30px;
  font-size: 48px;
  text-align: left;
}
  
#courses .card-course .course-disc {
  height: 180px;
  line-height: 1.4;
  text-align: justify;
  text-justify: inter-word;
}
  
#courses .card-course .submit-btn {
  padding: 5px 10px;
  background-color:red ;
  color: #fff;
  border-radius: 20px;
  font-weight: 500;
  cursor: pointer;
  left: 40%;
  bottom: 0%;
  opacity: 0;
  transition: 1s;
  position: absolute;
}
  
.card-course:hover {
  opacity: 0.6;
  background: linear-gradient(#fff,#019578);
}
  
#courses .card-course:hover > .submit-btn {
  opacity: 1;
  bottom: 15%;
}

#slider {
  background-color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
}

.slider{
  width: 500px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
  margin: auto;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 500px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
  position: absolute;
  width: 500px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -20%;
}

#radio3:checked ~ .first{
  margin-left: -40%;
}

#radio4:checked ~ .first{
  margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto{
  position: absolute;
  display: flex;
  width: 500px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}

#contact {
  width: 80%;
  margin: auto;
}
#contact .form {
  width: 50%;
  margin: auto;
}
#contact .label-contact-form {
  display: block;
}

#contact .form input , #contact .form textarea {
  border: none;
  font-size: 1.1rem;
  background-color: rgba(0, 0, 0, 0.048);
  border-radius: 5px;
  margin-bottom: 1rem;
  padding: 7px 7px;
  width: 40vw;
}

#contact .send-btn {
  padding: 0.4rem;
  background-color: lightseagreen !important;
  color: #fff;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  cursor: pointer;
}

.footer {
  background-color: rgb(236, 236, 236);
  padding: 1rem 0;
  line-height: 1.5;
  text-align: center;
}

.footer .footer-icon {
  text-align: center;
  font-size: 30px;
  opacity: 1;
}

.footer .footer-icon a {
  color: #000;
}

.footer .footer-icon a:hover {
  opacity: 0.6;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  align-items: center;
  justify-content: center;
  display: none;
}

.open {
  display: flex;
}

.modal-close {
  position:absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  max-width: calc(100% - 32px);
  min-height: 200px;
  position: relative;
  animation: modalFadeIn ease 1s;
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}

.fa-briefcase {
  margin-right: 16px;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

#buy-course {
  width: 100%;
  padding: 18px;
  color: #fff;
  font-size: 15px;
  background-color: #009688;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
}

#buy-course:hover {
  opacity: 0.8;
}

.modal-footer {
  padding: 16px;
  text-align: right;
}

.modal-footer a {
  color: #2196F3;
}

@keyframes modalFadeIn {
  from{
    opacity: 0;
    transform: translateY(-300px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
    
  }
}

.anim {
    opacity: 0;
}

@keyframes anim1 {
  from {
      transform: translateY(100px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}